/*-- scss:defaults --*/
$body-bg: #f0f8f0;
$body-color: #2a4d2a;
$link-color: #1a8a1a;
$presentation-heading-color: #116611;

/*-- scss:rules --*/
.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  color: $body-color;
  font-size: 0.5em;
}

.reveal section {
    --background: #f0f0f0;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Reduce el tamaño de la fuente en las tablas */
.reveal table {
    font-size: 0.8em; /* Ajusta este valor según necesites */
}

/* Reduce el tamaño de la fuente en el contenido */
.reveal section {
    font-size: 0.9em; /* Ajusta este valor según necesites */
}

.reveal .controls .logo img {
  width: 150px;  /* Cambia este valor según necesites */
  height: auto;  /* Mantiene la proporción del logo */
}

.reveal .medium {
  font-size: 0.7em; /* O cualquier tamaño que prefieras */
}

.reveal .small-table { font-size: 0.8em; } 

.reveal .panel-tabset {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 8px;
}
